html {
  font-family: "Nanum Gothic";
  --green: #03cf5d;
  --light-green: #93edbb;
  --dark-green: #116336;
  --red: #fb584a;
  --light-red: #ffccc7;
  --dark-red: #a11205;
}

body > header {
  text-align: center;
}
