html {
  font-family: "Nanum Gothic";
  --green: #03cf5d;
  --light-green: #93edbb;
  --dark-green: #116336;
  --red: #fb584a;
  --light-red: #ffccc7;
  --dark-red: #a11205;
}

input:focus {
  outline: none;
}

.app-logo {
  text-align: center;
}

.app-logo span.small {
  font-size: 0.8em;
}

.app-logo .green {
  color: var(--green);
}

.app-logo h1 {
  font-size: 2.7em;
  margin-top: 0;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 5px;
  text-align: center;
  font-size: 0.7em;
}
